<%= f.label :reason %>
<%= f.text_field :reason %>

<div id="terminating" class= "line-space">
<span class="span3 r-float"><%= f.check_box :terminated %></span>
<%= f.label :terminated, "Check if this is a termination" %>
</div>

