      <% if current_user.superuser? %>
        <div id="recent-adds">
          <%= recent_leaving_reasons %>
        </div>
        <div id="recent-updates">
          <%= updated_leaving_reasons %>
        </div>
      <% end %>
