      <div class="instruction">  
        <div class="line-space">
          <%= loan_instruction_1 %>
        </div>
        <div class="line-space">
          <%= loan_instruction_2 %>
        </div>
      </div>
