        <div class="line-space">
          <%= insurance_thresholds_list_1 %>
        </div>
        <div class="line-space">
          <%= insurance_thresholds_list_2 %>
        </div> 
        <div>
          <%= insurance_thresholds_list_3 %>
        </div> 
        
