        <div class="line-space">
          <%= insurance_settings_edit_1 %>
        </div>
        <div class="line-space">
          <%= insurance_settings_edit_2 %>
        </div> 
        <div class="line-space">
          <%= insurance_settings_edit_3 %>
        </div> 
        <div>
          <%= insurance_settings_edit_4 %>
        </div>  
