        <div class="line-space">
          <%= insurance_settings_cancel_1 %>
        </div>
        <div class="line-space">
          <%= insurance_settings_cancel_2 %>
        </div> 
        <div>
          <%= insurance_settings_cancel_3 %>
        </div> 
        
