    <div style="padding-bottom: 10px">
      <% if current_user.superuser? || current_user.administrator?(@country.country) %>
        <%= link_to "Add a new salary threshold", new_country_insurance_setting_path(@country), class: "btn" %>
        <% if @country.insurance_settings.records_exist? %>
          <%= link_to "Update all current settings", new_country_insurance_threshold_path(@country), class: "btn" %>
        <% end %>
      <% end %>
      <%= link_to "Back to main insurance menu", insurance_menu_country_path(@country), class: "btn" %>
    </div>
