     <% if current_user.superuser? || current_user.administrator?(@country.country) %>
        <div class="standout line-space">
          When new threshold settings are announced for the same codes, use the 'Update all current settings' button.  To add
          a code for the first time, click on 'Add a new salary threshold'. 
        </div>
      <% end %>
