      <div class="instruction">  
        <div class="line-space">
          <%= joinact_instruction_1 %>
        </div>
        <div class="line-space">
          <%= joinact_instruction_2 %>
        </div>
        <div class="line-space">
          <%= joinact_instruction_3 %>
        </div>
      </div>
