    <% if current_user.superuser? || current_user.administrator?(@country.country) %>   
      <div class="line-space">
        <%= ethnicity_country_instruction_1 %>
      </div>
      <div class="line-space">
        <%= ethnicity_country_instruction_2 %>
      </div>    
    <% else %>
      <%= ethnicity_country_guidance %>
    <% end %>
