      <% @disciplinary_cats.each do |category| %>
        <li>
          <%= render "shared/superuser_notifications", model_name: category %>
          <%= category.category %>
          | <%= link_to "change", edit_disciplinary_category_path(category) %>
          <%= render "shared/admin_deletes", model_name: category %>
        </li>
      <% end %>
