     <% @sectors.each do |sector| %>
        <li>
          <%= render "shared/superuser_notifications", :model_name => sector %>
          <%= sector.sector %>
          | <%= link_to "change", edit_sector_path(sector) %>
          | <%= link_to "delete", sector, method: :delete,
                             data: { confirm: "Delete '#{sector.sector}'?  Sure?" } %>
    
        </li>
      <% end %>
