      <% @divisions.each do |division| %>
        <li>
          <span class="span3"><%= division.division %></span>
          | <%= link_to "edit", edit_division_path(division) %>
          <% unless division.has_departments? %>
            | <%= link_to "del", division, method: :delete,
                       data: { confirm: "Delete '#{division.division}'. Are you sure?" } %>
          <% end %>
        </li>
      <% end %>
