          <% if current_user.administrator?(@country.country) %>
            <% if model_name.recent? %>
              <span class="recent"> * </span>
            <% end %>
            <% if model_name.updated? %>
              <span class="updates"> ^ </span>
            <% end %>
          
          <% elsif current_user.superuser? %> 
            <% if model_name.add_check? %>
              <span class="recent"> + </span>
            <% end %>
            <% if model_name.update_check? %>
              <span class="updates"> > </span>
            <% end %>
          
          <% end %>
