      <div class="instruction">
        <div class="line-space">
          <%= qualities_instruction_1 %>
        </div>
        <div class="line-space">
          <%= qualities_instruction_2 %>
        </div>
        <div>
          <%= qualities_instruction_3 %>
        </div>
      </div>
