
        <div id="recent-updates-2">
          <%= updated_descriptors %>
        </div>
        <div id="unedited" class="line-space">
          <%= incomplete_descriptors %>
        </div>
        
        
     
