        <h5 class="line-space">QUALITIES</h5>
        <div id="recent-adds">
          <%= recent_qualities %>
        </div>
        <div id="recent-updates" class="line-space">
          <%= updated_qualities %>
        </div>
        <h5 class="line-space">DESCRIPTORS</h5>
        <div id="recent-updates-2">
          <%= updated_descriptors %>
        </div>
        <div id="unedited" class="line-space">
          <%= incomplete_descriptors %>
        </div>
