      <% if current_user.superuser? %>
        <div id="recent-adds">
          <%= recent_grievance_types %>
        </div>
        <div id="recent-updates">
          <%= updated_grievance_types %>
        </div>
      <% end %>
