<% provide(:title, 'Grievance Types') %>
<div class="row">
  <aside class="span4">
    <%= render "shared/admin_sidebar" %>
  </aside>
  
  <div class="span8">
    <h1 class="align-left">Grievance Types</h1>

    <div style="padding-bottom: 10px">
      <%= link_to "Add a grievance type", new_grievance_type_path, class: "btn" %>
    </div>
    <ul class="itemlist">
      <%= render "list" %>
    </ul>
  </div>
</div>
