      
    <div class="instruction">  
      <div class="line-space">
        <%= absence_instruction_1 %>
      </div>
      <div class="line-space">
        <%= absence_instruction_2 %>
      </div> 
      <div class="line-space">
        <%= absence_instruction_3 %>
      </div> 
    </div>
