        <h5 class="line-space">ABSENCE</h5>
        <div id="recent-adds">
          <%= recent_country_absences(@country) %>
        </div>
        <div id="recent-updates">
          <%= updated_country_absences(@country) %>
        </div>
