      <% @contract_cats.each do |contract| %>
        <li>
          <%= contract.contract %>
          | <%= link_to "edit", edit_contract_cat_path(contract) %>
          | <%= link_to "del", contract_cat_path(contract), method: :delete,
                       data: { confirm: "Delete '#{contract.contract}'. Are you sure?" } %>
        </li>
      <% end %>
