      <% @nationalities.each do |nationality| %>
        <li>
          <%= render "shared/superuser_admin_notifications", model_name: nationality %>
          <%= nationality.nationality %>
          | <%= link_to "change", edit_nationality_path(nationality) %>
          <% unless nationality.linked? %>
            <%= render "shared/admin_deletes", model_name: nationality %>
          <% end %>
        </li>
      <% end %>
