      <% if current_user.superuser? || current_user.administrator?(@country.country) %>
        <div id="recent-adds">
          <%= recent_country_absences(@country) %>
        </div>
        <div id="recent-updates">
          <%= updated_country_absences(@country) %>
        </div>
      <% end %>
